<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<footer>
    <div class="bottom">
        <br>
        <img class="bottom-logo" src="/images/bungae.png">
        <br><br>
        <a href="https://github.com/SNGYNGJIN/bungae.git"><img class="github_icon" src="/images/github_icon.png"></a>
        <a href="https://www.notion.so/About-Our-Project-e8a8dd04be0c43ac879fb59ab4beb4f0?pvs=4"><img class="notion_icon" src="/images/notion_icon.png"></a>
        <p id="copy">Copyright 2024. CodeNinja INC. All rights reserved.</p>
    </div>
</footer>
</body>
</html>