<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<header>
    <div class="logo">
        <a href="/map" th:href="@{/map}"><img class="bungae-logo"  src="/images/bungae.png"/></a>
    </div>
    <div class="menu">
        <nav>
            <ul>
                <li><a href="/map" th:href="@{/map}">홈</a></li>
                <li><a href="#" th:href="@{#}">모임 생성</a></li>
                <li><a href="#" th:href="@{#}">모임 목록</a></li>
                <li><a href="#" th:href="@{#}">내 정보</a></li>
            </ul>
        </nav>
    </div>
</header>
</body>
</html>
