<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>프로필 설정</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/editprofile.css}">
    <script th:src="@{/js/editProfile.js}" defer></script>
</head>
<body>
<div th:replace="layout/header :: header"></div>
<main>
    <form name="editProfile" onsubmit="return updateForm()" enctype="multipart/form-data">

    <div id="errorContainer" style="display:none; color: red;"></div>
        <div class="profile-container">
            <div class="form-group">
                <img id="profile-image" alt="Profile Image" th:src="${userImage}" onload="checkImageSource()" style="width: 150px; height: 150px; border-radius: 50%; object-fit: cover;"/><br>
                <div class="button-group">
                    <input type="file" id="image-upload" name="imageUpload" style="display: none;" onchange="previewImage(event)"><br>
                    <button type="button" onclick="document.getElementById('image-upload').click()">사진 업로드하기</button>
                </div>
                <div class="button-container">
                    <button type="button" id="delete-image-btn" onclick="deleteImage()" disabled>사진 삭제</button>
                </div>
            </div>

            <div class="form-group">
                <label for="nickname">닉네임</label>
                <input type="text" id="nickname" name="nickname" class="form-control" placeholder="닉네임 입력란"/>
            </div>
            <div class="form-group">
                <label for="userInfo">자기소개</label>
                <textarea id="userInfo" name="userInfo" class="form-control" placeholder="자기소개 입력란"></textarea>
            </div>
            <button type="submit" class="btn btn-primary btn-block">프로필 저장</button>
        </div>
    </form>
</main>
<div th:replace="layout/footer :: footer"></div>
</body>
</html>
