<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 가입</title>
    <style>
        .message {
            font-size: 0.8em;
            color: red;
        }
    </style>
    <script>
        function checkID() {
            const userId = document.getElementById('userId').value;
            const idCheckMessage = document.getElementById('idCheckMessage');

            fetch('/user/check_id', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ id: userId })
            })
                .then(response => response.json())
                .then(data => {
                    if (data.data.available) {
                        alert("사용 가능한 아이디입니다.");
                        idCheckMessage.textContent = "* 중복 확인 완료";
                        idCheckMessage.style.color = "green";
                        return true;
                    } else {
                        alert("이미 사용 중인 아이디입니다.");
                        return false;
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert("아이디 확인 중 오류가 발생했습니다.");
                    return false;
                });
        }

        function checkPWD() {
            let pass1 = document.forms["signupForm"]["passwd"].value;
            let pass2 = document.forms["signupForm"]["passwdCheck"].value;
            let pwdMessage = document.getElementById("passwordMessage");

            if (pass1 !== pass2) {
                pwdMessage.textContent = "비밀번호가 일치하지 않습니다";
                pwdMessage.style.color = "red";
                return false;
            } else {
                pwdMessage.textContent = "비밀번호가 일치합니다";
                pwdMessage.style.color = "green";
                return true;
            }
        }
    </script>
</head>
<body>
<h2>회원 가입</h2>
<form name="signup" th:action="@{/signup}" method="POST" onsubmit="return checkID() && checkPWD()">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

    <label for="userId">아이디:</label>
    <input type="text" id="userId" name="userId" placeholder="아이디">
    <button type="button" onclick="checkID()">아이디 중복 확인</button><br>
    <span id="idCheckMessage" class="message" style="color:red">* 중복 확인 미완료</span><br>

    <label for="passwd">비밀번호:</label>
    <input type="password" id="passwd" name="passwd" onkeyup="checkPWD()" placeholder="비밀번호"><br><br>
    <label for="passwdCheck">비밀번호 확인:</label>
    <input type="password" id="passwdCheck" name="passwdCheck" onkeyup="checkPWD()" placeholder="비밀번호 확인"><br>
    <span id="passwordMessage" class="message"></span><br><br>

    <label for="name">이름:</label>
    <input type="text" id="name" name="name" placeholder="이름"><br><br>

    <label for="nickname">닉네임:</label>
    <input type="text" id="nickname" name="nickname" placeholder="닉네임"><br><br>

    <label for="birth">생년월일:</label>
    <input type="text" id="birth" name="birth" placeholder="생년월일"><br><br>

    <label for="tel">전화번호:</label>
    <input type="text" id="tel" name="tel" placeholder="전화번호">
    <button type="button" onclick="">인증번호 받기</button><br><br>

    <label for="gender">성별:</label>
    <select id="gender" name="gender">
        <option value="FEMALE">여성</option>
        <option value="MALE">남성</option>
    </select><br><br>

    <label for="email">이메일:</label>
    <input type="email" id="email" name="email" placeholder="이메일"><br><br>

    <button id="btn-save" class="btn btn-dark">회원가입완료 </button>
</form>
</script>
</body>
</html>