<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 가입</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/signup.css}">
    <script th:src="@{/js/signup.js}" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<h2>회원 가입</h2>
<form name="signup" th:action="@{/user/api/signup}" method="post" onsubmit="return submitForm()">
    <!--<input type="hidden" name="_csrf" th:value="${_csrf.token}"/>-->

    <input type="hidden" id= "idValid" name="idValid" th:value="false"/>
    <label for="userId">아이디:</label>
    <input type="text" id="userId" name="userId" placeholder="아이디">
    <button type="button" th:onclick="checkID()">아이디 중복 확인</button><br>
    <span id="idCheckMessage" class="message" style="color:red">* 아이디 중복 확인 필수</span><br>

    <label for="passwd">비밀번호:</label>
    <input type="password" id="passwd" name="passwd" placeholder="비밀번호"><br><br>
    <label for="passwdCheck">비밀번호 확인:</label>
    <input type="password" id="passwdCheck" name="passwdCheck" placeholder="비밀번호 확인"><br>
    <span id="passwordMessage" class="message"></span><br><br>

    <label for="name">이름:</label>
    <input type="text" id="name" name="name" placeholder="이름"><br><br>

    <label for="nickname">닉네임:</label>
    <input type="text" id="nickname" name="nickname" placeholder="닉네임"><br><br>

    <label for="birth">생년월일:</label>
    <input type="text" id="birth" name="birth" placeholder="YYYYMMDD"><br><br>

    <label for="tel">전화번호:</label>
    <input type="text" id="tel" name="tel" placeholder="010-1234-5678">
    <button type="button" onclick="requestVerificationCode()">인증번호 받기</button><br><br>

    <label for="gender">성별:</label>
    <select id="gender" name="gender">
        <option value="FEMALE">여성</option>
        <option value="MALE">남성</option>
    </select><br><br>

    <label for="email">이메일:</label>
    <input type="email" id="email" name="email" placeholder="이메일"><br><br>

    <div class="container">
        <button type="submit" id="btn-save" class="btn btn-dark">회원가입 완료</button>
    </div>

</form>
</body>
</html>