.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;
}

h1 {
    font-size: 40px;
    font-weight: 600;
}

.rating {
    float: none;
    width: 200px;
    display: flex;
}
.rating__input {
    display: none;
}
.rating__label {
    width: 20px;
    overflow: hidden;
    cursor: pointer;
}
.rating__label .star-icon {
    width: 20px;
    height: 40px;
    display: block;
    position: relative;
    left: 0;
    background-image: url("/images/notfilledStar.svg");
    background-repeat: no-repeat;
    background-size: 40px;
}
.rating__label .star-icon.filled {
    background-image: url("/images/filledStar.svg");
}
.rating__label--full .star-icon {
    background-position: right;
}
.rating__label--half .star-icon {
    background-position: left;
}
.rating.readonly .star-icon {
    opacity: 0.7;
    cursor: default;
}