<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          type="text/css">
    <link rel="stylesheet" href="/css/main.css">
    <script th:src="@{/js/bungae_create.js}" type="text/javascript"></script>
</head>

<body>
<nav class="navbar navbar-expand-md bg-primary navbar-light border-bottom border-dark" style="	height: 80px;">
    <div class="container"><a class="navbar-brand" href="#"><img src="/images/bungae.png" width="100" height="30"
                                                                 class="d-inline-block align-top" alt=""></a>
        <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse"
                data-target="#navbar16">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar16">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="main">홈</a></li>
                <li class="nav-item"><a class="nav-link" href="map">지도</a></li>
                <li class="nav-item"><a class="nav-link" href="bungae_create">번개생성</a></li>
                <li class="nav-item"><a class="nav-link" href="bungae_list">번개목록</a></li>
                <li class="nav-item"><a class="nav-link" href="bungae_ing">참여목록</a></li>
                <li class="nav-item"><a class="nav-link" href="profile">프로필</a></li>
            </ul>
            <a class="btn navbar-btn ml-md-2 btn-light text-dark" href="login">로그인<br></a>
        </div>
    </div>
</nav>
<div class="py-5 text-center">
    <div class="container">
        <div class="row">
            <div class="mx-auto col-lg-6 col-10">
                <h1>번개 생성</h1>
                <form id="createBungaeForm" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="bungaeName">번개 모임명</label>
                        <input type="text" name="bungaeName" id="bungaeName" required class="form-control">
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label for="bungaeType">번개 주제</label>
                            <select name="bungaeType" id="bungaeType" required class="form-control">
                                <option selected="" value="주제를 선택하세요">주제를 선택하세요</option>
                                <option disabled selected>::카테고리::</option>
                                <option value="DRINK">술자리</option>
                                <option value="SOCCER">축구</option>
                                <option value="CYCLE">자전거</option>
                                <option value="RUNNING">러닝</option>
                                <option value="STUDY">공부</option>
                                <option value="BASKETBALL">농구</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="bungaeDescription">번개 내용</label>
                        <input type="text" name="bungaeDescription" id="bungaeDescription" required
                               class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="bungaeStartTime">번개 일시</label>
                        <input type="datetime-local" name="bungaeStartTime" id="bungaeStartTime" required
                               class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="bungaeLocation">번개 장소</label>
                        <input type="text" id="bungaeLocation" name="bungaeLocation" required class="form-control">
                    </div>
                    <div class="form-group">
                        <label>연령대</label>
                        <input type="number" name="bungaeMinAge" id="bungaeMinAge" min="0" required
                               class="form-control"> ~
                        <input type="number" name="bungaeMaxAge" id="bungaeMaxAge" min="0" required
                               class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="bungaeMaxMember">최대 인원 수</label>
                        <input type="number" name="bungaeMaxMember" id="bungaeMaxMember" min="0" required
                               class="form-control">
                    </div>
                    <div class="form-group">
                        <label>대표 사진</label>
                        <input type="file" name="bungaeImage" accept="images/*" class="form-control-file">
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">모임등록
                    </button>
                    <button type="reset" class="btn btn-primary mt-3">다시쓰기
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="py-3 border-top border-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-6" style=""><img src="/images/bungae.png" width="100" height="30"
                                                class="d-inline-block align-top" alt=""></div>
            <div class="col-md-6 text-center d-md-flex align-items-center">
                <ul class="nav mx-md-auto d-flex justify-content-center">
                    <li class="nav-item"><a class="nav-link active" href="#">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Features</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Pricing</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">About</a></li>
                </ul>
                <div class="row">
                    <div class="col-md-12 d-flex align-items-center justify-content-md-between justify-content-center my-2">
                        <a href="#">
                            <i class="d-block fa fa-facebook-official text-muted fa-lg mx-2"></i>
                        </a> <a href="#">
                        <i class="d-block fa fa-instagram text-muted fa-lg mx-2"></i>
                    </a> <a href="#">
                        <i class="d-block fa fa-twitter text-muted fa-lg ml-2"></i>
                    </a></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="mt-2 mb-0" contenteditable="true">© 2024 CodeNinja. All rights reserved</p>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>