<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="/css/chatting.css">
  <link rel="stylesheet" th:href="@{/css/chatting_css.css}">
</head>
<div th:replace="~{layout/header :: header}"></div>

<body style="">

  <div class="pt-3">
    <div class="container" style="	width: 600px;">
      <div class="row">
        <div class="col-md-12" style="">
          <table class="table">
            <tbody>
            <tr>
              <td id="organizer">주최자</td>
              <td></td>
            </tr>
            <tr>
              <td id="member">참가자</td>
              <td></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="errorMessage" style="color: red;"></div>
<div id="messagess"></div>
<div class="container">
  <div class="row justify-content-center mb-3">
    <div class="col-md-8 d-flex justify-content-center">
      <div id="messageList" class="border rounded shadow border-light" style="	height: 400px;	overflow-y: scroll;	width: 580px;" >
        <!-- 메시지가 여기에 동적으로 추가됩니다 -->
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8 my-3">
      <form onsubmit="return sendMessage()" class="form-inline justify-content-center">
        <input type="text" id="message" autocomplete="off" class="form-control form-control-lg mr-2" placeholder="내용을 입력하세요." style="flex-grow: 1;">
        <button id="sendButton" class="btn btn-primary" type="submit">전송</button>
      </form>
    </div>
  </div>
</div>

<!-- 사용자 상세 정보 모달 -->
<div id="userDetailsModal" class="modal">
  <div class="modal-content">
    <img id="mprofile-image" alt="Profile Image" />

    <div class="profile-info">
      <h3 id="muserNickname">사용자 이름</h3>
      <p id="mAge-Gender">나이/성별</p>
      <p id="muserReviewScore">평점란</p>
      <hr>
      <p id="muserInfo" class="text-center align-items-center">자기소개를 작성하지 않았습니다.</p>
    </div>
    <span class="close">&times;</span>
  </div>
</div>

  <script>
    // 페이지가 로드될 때 enterChat 이벤트를 트리거
    window.addEventListener('DOMContentLoaded', function () {
      const enterEvent = new Event('enterChat');
      window.dispatchEvent(enterEvent);
    });

    // 페이지를 벗어날 때 leaveChat 이벤트를 트리거
    window.addEventListener('beforeunload', function () {
      const leaveEvent = new Event('leaveChat');
      window.dispatchEvent(leaveEvent);
    });
  </script>


<script src="https://cdn.jsdelivr.net/npm/sockjs-client/dist/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="/js/chat.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <div th:replace="~{layout/footer :: footer}"></div>

</body>

</html>