<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="/css/chatting.css">
  <script src="https://cdn.jsdelivr.net/npm/sockjs-client/dist/sockjs.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script th:src="@{/js/chat.js}" type="text/javascript"></script>
</head>

<body style="">
  <nav class="navbar navbar-expand-md bg-primary navbar-light border-bottom border-dark" style="	height: 80px;">
    <div class="container"> <a class="navbar-brand" href="#"><img src="/images/bungae.png" width="100" height="30" class="d-inline-block align-top" alt=""></a> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar16">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar16">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"> <a class="nav-link" href="main">홈</a> </li>
          <li class="nav-item"> <a class="nav-link" href="map">지도</a> </li>
          <li class="nav-item"> <a class="nav-link" href="bungae_create">번개생성</a> </li>
          <li class="nav-item"> <a class="nav-link" href="bungae_list">번개목록</a> </li>
          <li class="nav-item"> <a class="nav-link" href="bungae_ing">참여목록</a> </li>
          <li class="nav-item"> <a class="nav-link" href="profile">프로필</a> </li>
        </ul> <a class="btn navbar-btn ml-md-2 btn-light text-dark" href="login">로그인<br></a>
      </div>
    </div>
  </nav>

  <div class="pt-3">
    <div class="container" style="	width: 600px;">
      <div class="row">
        <div class="col-md-12" style="">
          <table class="table">
            <tbody>
            <tr>
              <td>주최자</td>
              <td></td>
            </tr>
            <tr>
              <td >참가자</td>
              <td></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center mb-3">
      <div class="col-md-8 d-flex justify-content-center">
        <div id="messageList" class="border rounded shadow border-light" style="	height: 400px;	overflow-y: scroll;	width: 580px;" >
          <!-- 메시지가 여기에 동적으로 추가됩니다 -->
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-8 my-3">
        <form onsubmit="sendMessage(event)" class="form-inline justify-content-center">
          <input type="text" id="message" autocomplete="off" class="form-control form-control-lg mr-2" placeholder="내용을 입력하세요." style="flex-grow: 1;">
          <button class="btn btn-primary" type="submit">전송</button>
        </form>
      </div>
    </div>
  </div>


  <div class="py-3 border-top border-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-6" style=""><img src="/images/bungae.png" width="100" height="30" class="d-inline-block align-top" alt=""></div>
        <div class="col-md-6 text-center d-md-flex align-items-center">
          <ul class="nav mx-md-auto d-flex justify-content-center">
            <li class="nav-item"> <a class="nav-link active" href="#">Home</a> </li>
            <li class="nav-item"> <a class="nav-link" href="#">Features</a> </li>
            <li class="nav-item"> <a class="nav-link" href="#">Pricing</a> </li>
            <li class="nav-item"> <a class="nav-link" href="#">About</a> </li>
          </ul>

        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <p class="mt-2 mb-0" contenteditable="true">© 2024 CodeNinja. All rights reserved</p>
        </div>
      </div>
    </div>
  </div>
  <script th:src="@{/js/chat.js}" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>