<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/chatting.css">
    <link rel="stylesheet" th:href="@{/css/chatting_css.css}">
</head>

<div class="py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center mb-3">번개 채팅</h1>
            </div>
        </div>
    </div>
</div>
<div id="errorMessage" style="color: red;"></div>

<div class="container">
    <div class="row justify-content-center mb-3">
        <div class="col-md-8">
            <div id="messageList" class="border border-dark" style="height: 400px; overflow-y: scroll;">
                <!-- 메시지가 여기에 동적으로 추가됩니다 -->
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form onsubmit="return sendMessage()" class="form-inline justify-content-center">
                <input type="text" id="message" autocomplete="off" class="form-control form-control-lg mr-2" placeholder="내용을 입력하세요." style="flex-grow: 1;">
                <button class="btn btn-primary" type="submit">전송</button>
            </form>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sockjs-client/dist/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/chat.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>