<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          type="text/css">
    <link rel="stylesheet" href="/css/map.css">
    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3ee55d752effcbc08eda7914b122df74&libraries=services"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script th:src="@{/js/map.js}" type="text/javascript"></script>
</head>


<body>
<nav class="navbar navbar-expand-md bg-primary navbar-light border-bottom border-dark" style="	height: 80px;">
    <div class="container"><a class="navbar-brand" href="#"><img src="/images/bungae.png" width="100" height="30"
                                                                 class="d-inline-block align-top" alt=""></a>
        <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse"
                data-target="#navbar16">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar16">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="main">홈</a></li>
                <li class="nav-item"><a class="nav-link" href="map">지도</a></li>
                <li class="nav-item"><a class="nav-link" href="bungae_create" th:href="@{bungae_create}">번개생성</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="bungae_list">번개목록</a></li>
                <li class="nav-item"><a class="nav-link" href="bungae_ing">참여목록</a></li>
                <li class="nav-item"><a class="nav-link" href="profile" th:href="@{profile}">프로필</a></li>
            </ul>
            <a class="btn navbar-btn ml-md-2 btn-light text-dark" href="login">로그인<br></a>
        </div>
    </div>
</nav>
<div class="" style="">
    <div class="container">
        <div class="row">
            <div class="col-md-4" style="">
                <form class="form-inline mx-auto my-2">
                    <div class="input-group mx-auto">
                        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Search"
                               style="width: 300px;">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </form>
                <div class="list-group" id="bungae-list">

                </div>
            </div>
            <div class="col-md-8 d-flex flex-row justify-content-end align-items-center" id="map"
                 style="height: 600px;">
                <div class="row">
                    <div class="col-md-12 mr-3" style=""><span
                            class="btn btn-primary d-flex justify-content-center align-items-center" href="#"
                            style="	width: 30px;" id="myloc"><i class="fa fa-compass"></i></span></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="py-3 border-top border-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-6" style=""><img src="/images/bungae.png" width="100" height="30"
                                                class="d-inline-block align-top" alt=""></div>
            <div class="col-md-6 text-center d-md-flex align-items-center">
                <ul class="nav mx-md-auto d-flex justify-content-center">
                    <li class="nav-item"><a class="nav-link" href="https://github.com/SNGYNGJIN/bungae.git"><img class="github_icon" src="/images/github_icon.png">GitHub</a></li>
                    <li class="nav-item"><a class="nav-link" href="https://www.notion.so/About-Our-Project-e8a8dd04be0c43ac879fb59ab4beb4f0?pvs=4"><img class="notion_icon" src="/images/notion_icon.png">Notion</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="mt-2 mb-0" contenteditable="true">© 2024 CodeNinja. All rights reserved</p>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script>
    // 버튼을 클릭하면 내 위치를 중심으로 지도화면 초기화
    document.getElementById('myloc').addEventListener('click', function (e) {
        e.preventDefault();

        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var lat = position.coords.latitude,
                    lon = position.coords.longitude;
                var locPosition = new kakao.maps.LatLng(lat, lon);

                map.setCenter(locPosition);
            });
        } else {
            alert('Unable to use geolocation.');
        }
    });
</script>
</body>
</html>