<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/editprofile.css}">
  <link rel="stylesheet" href="/css/profile_edit.css">
  <script th:src="@{/js/editProfile.js}" ></script>
</head>

<body>
<div th:replace="~{layout/header :: header}"></div>

<form name="editProfile" onsubmit="return updateForm()" enctype="multipart/form-data">

  <div id="errorContainer" style="display:none; color: red;"></div>
  <div class="profile-container">
    <div class="form-group">
      <img id="profile-image" alt="Profile Image" th:src="${userImage}" onload="checkImageSource()" style="width: 150px; height: 150px; border-radius: 50%; object-fit: cover;"/><br>
      <div class="button-group">
        <input type="file" id="image-upload" name="imageUpload" style="display: none;" onchange="previewImage(event)"><br>
        <button type="button" onclick="document.getElementById('image-upload').click()">사진 업로드하기</button>
      </div>
      <div class="button-container">
        <button type="button" id="delete-image-btn" onclick="deleteImage()" disabled>사진 삭제</button>
      </div>
    </div>

    <div class="form-group">
      <label for="nickname">닉네임</label>
      <input type="text" id="nickname" name="nickname" class="form-control" placeholder="닉네임 입력란"/>
    </div>
    <div class="form-group">
      <label for="userInfo">자기소개</label>
      <textarea id="userInfo" name="userInfo" class="form-control" placeholder="자기소개 입력란"></textarea>
    </div>
    <button type="submit" class="btn btn-primary btn-block">프로필 저장</button>
  </div>
</form>

<div th:replace="~{layout/footer :: footer}"></div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>